page-company-add {
  ion-input, ion-select, ion-textarea {
    height: 45px;		
    border-radius: 8px;	
    background-color: #F1F1F1;    
    font-weight: bold;	
    line-height: 20px;
  }
  ion-list{
    margin: 20px;
    padding: 20px;
  }
  ion-label{
    color: #354A4D;
    font-size: 18px;
    line-height: 20px;
  }
  .botao-salvar{
    width: 90%;
    margin:auto;
    display:block;
    background-color: #fb913b;
  }
}
