<!--
  Generated template for the CompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Empresas</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="filterCompany"
      (ionInput)="onInput($event)">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content class="company">
  <ion-list>
    <!--<ion-item>
      <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="filterCompany" placeholder="Search">
      </label>
    </ion-item>-->
    <ion-item-sliding *ngFor="let company of companyList; let idx = index;"> 
      <ion-item (click)="itemTapped($event, idx)">
      <ion-avatar item-left>
      <i id="erro" class="ion-android-alert"></i>
      </ion-avatar>
        <h2>{{ company.name }}</h2>
        <h3>{{ company.phone }}</h3>  
        <i id="seta-dir" class="ion-ios-arrow-right"></i>      
      </ion-item>
      <ion-item-options>
        <button danger (click)="edit(idx)">
          <ion-icon name="trash"></ion-icon>
            Editar
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
    <ion-fab bottom right>
      <button ion-fab (click)="add()" color="danger"><i class="ion-plus-round"></i></button>
    </ion-fab>
</ion-content>
