page-company{
	
}
ion-list{
	padding-left: 5%;
	padding-right: 5%;
}

#seta-dir{
	float: right;
}
#erro{
	float: left;
	color: red;
	padding-right: 5px;
}

.confirma{
	content: url(src/assets/icon/add.svg);
}